#pad {
    background:rgb(140, 184, 227);
    border:1px solid #aaa;
    margin: 0 auto;
    display: block;
  }

  .body{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .button{
      margin: 5px;
  }
